table, th, td, tr {
    border: 1px solid white;
    border-collapse: collapse;
    text-align: center;
  }
  .tabla1 {
    background-color: #96D4D4;
  }

  .tabla2{
    background-color: blue;
  }

  .tabla3{
    background-color: blueviolet;
  }

  .tabla4{
    background-color: bisque;
  }
  .tabla5{
    background-color: palevioletred;
  }
.tabla6{
    background-color: red;
}

.tabla7{
    background-color: greenyellow;
}